<div class="container">

  <%= render 'layouts/header'%>


  <div class="col-sm-10 col-sm-offset-1 blog">
    <div class="col-sm-8 col-sm-offset-2 ico" > <%= image_tag 'play_black.png'%> </div>

    <div class="col-sm-12 text-center">
      <h1>Nikon Photo Video</h1>
      <p>Posted on <span class="text-muted">21-02-2015 </span></p>
    </div>

    <div class="col-sm-10 col-sm-offset-1 text-center" style="margin-top: 2%">
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum.
    </div>

    <div class="col-sm-12 text-center img_holder" style="margin-top: 4%; margin-bottom: 3%; height: 450px; padding: 0">

      <iframe  style="width: 100%; height: 450px;" src="https://www.youtube.com/embed/ObDVRBCQW_g" frameborder="0" allowfullscreen></iframe>
    </div>


    <div class="col-sm-12  comments">
      <div class="col-sm-10 col-sm-offset-1 " style="padding: 0">





      <div class="row comment">
        <div class="col-sm-6">
            <h4>malike@gmail.com : </h4>
        </div>
        <div class="col-sm-6">
            <h5 class="pull-right text-muted">18 mins ago</h5>
        </div>
        <div class="col-sm-12 comment_content" style="margin-top: 0.5%">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. It is a long established fact that a reader will be distracted.
        </div>
        <hr/>
      </div>

      <div class="row comment">
        <div class="col-sm-6">
          <h4>malike@gmail.com : </h4>
        </div>
        <div class="col-sm-6">
          <h5 class="pull-right text-muted">18 mins ago</h5>
        </div>
        <div class="col-sm-12 comment_content" style="margin-top: 0.5%">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. It is a long established fact that a reader will be distracted.
        </div>
        <hr/>
      </div>
      <div class="row comment">
        <div class="col-sm-6">
          <h4>malike@gmail.com : </h4>
        </div>
        <div class="col-sm-6">
          <h5 class="pull-right text-muted">18 mins ago</h5>
        </div>
        <div class="col-sm-12 comment_content" style="margin-top: 0.5%">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. It is a long established fact that a reader will be distracted.
        </div>
        <hr/>
      </div>
      <div class="row comment">
        <div class="col-sm-6">
          <h4>malike@gmail.com : </h4>
        </div>
        <div class="col-sm-6">
          <h5 class="pull-right text-muted">18 mins ago</h5>
        </div>
        <div class="col-sm-12 comment_content" style="margin-top: 0.5%">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. It is a long established fact that a reader will be distracted.
        </div>
        <hr/>
      </div>

    <!--  <div class="row comment_form">

        <h3>Email</h3>
        <div class="col-sm-4" style="height: 2px; background-color: #2E2F30;"></div>

        <h3  style="margin-top: 7%;">Comment</h3>
        <div class="col-sm-12" style="height: 2px; background-color: #2E2F30"></div>


        <h2 class="pull-right" style="margin-top: 3%; margin-bottom: 5%">Post</h2>

      </div>



-->

        <div class="container" style="    padding: 0;">



          <form>

            <div class="group">
              <input style="width: 40%" type="text" required>
              <span class="highlight"></span>
              <span style="width: 40%" class="bar"></span>
              <label>Email</label>
            </div>

            <div class="group">
              <input  style="width: 68%" type="text" required>
              <span class="highlight"></span>
              <span  style="width: 68%" class="bar"></span>
              <label>Comment</label>
            </div>

          </form>



        </div>



        </div>

    </div>


    </div>

</div>


<style>

    /* form starting stylings ------------------------------- */
    .group 			  {
        position:relative;
        margin-bottom:45px;
    }
    input 				{
        font-size:18px;
        padding:10px 10px 10px 5px;
        display:block;
        width:300px;
        border:none;
        border-bottom:1px solid #757575;
    }
    input:focus 		{ outline:none; }

    /* LABEL ======================================= */
    label 				 {
        color:#999;
        font-size:18px;
        font-weight:normal;
        position:absolute;
        pointer-events:none;
        left:5px;
        top:10px;
        transition:0.2s ease all;
        -moz-transition:0.2s ease all;
        -webkit-transition:0.2s ease all;
    }

    /* active state */
    input:focus ~ label, input:valid ~ label 		{
        top:-20px;
        font-size:14px;
        color:#5264AE;
    }

    /* BOTTOM BARS ================================= */
    .bar 	{ position:relative; display:block; width:300px; }
    .bar:before, .bar:after 	{
        content:'';
        height:2px;
        width:0;
        bottom:1px;
        position:absolute;
        background:#5264AE;
        transition:0.2s ease all;
        -moz-transition:0.2s ease all;
        -webkit-transition:0.2s ease all;
    }
    .bar:before {
        left:50%;
    }
    .bar:after {
        right:50%;
    }

    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
        width:50%;
    }

    /* HIGHLIGHTER ================================== */
    .highlight {
        position:absolute;
        height:60%;
        width:100px;
        top:25%;
        left:0;
        pointer-events:none;
        opacity:0.5;
    }

    /* active state */
    input:focus ~ .highlight {
        -webkit-animation:inputHighlighter 0.3s ease;
        -moz-animation:inputHighlighter 0.3s ease;
        animation:inputHighlighter 0.3s ease;
    }

    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
        from { background:#5264AE; }
        to 	{ width:0; background:transparent; }
    }
    @-moz-keyframes inputHighlighter {
        from { background:#5264AE; }
        to 	{ width:0; background:transparent; }
    }
    @keyframes inputHighlighter {
        from { background:#5264AE; }
        to 	{ width:0; background:transparent; }
    }

</style>