<div class="container-fluid">
  <div class="bg_image">
    <%= image_tag 'bg_image.jpg', id: 'bg_img' %>
  </div>

  <div class="row index_main">
    <div class="link" id="vid"><a href="<%= video_path %>" class="effect-2">Video</a></div>
    <div class="link" id="photo"><a href="<%= portfolio_path%>" class="effect-2">Photos</a></div>
  </div>

</div>