<div class="container">

 <%= render 'layouts/header'%>


  <div class="grid">
    <div class="grid-sizer"></div>

    <div class="grid-item">

      <img src="https://unsplash.com/photos/7gZEY7tY9C4/download" />

    </div>
    <div class="grid-item">
      <img src="http://i.imgur.com/bAZWoqx.jpg" />
    </div>
    <div class="grid-item">
      <img src="http://i.imgur.com/PgmEBSB.jpg" />
    </div>
    <div class="grid-item ">
      <img src="http://i.imgur.com/aboaFoB.jpg" />
    </div>
    <div class="grid-item">
      <img src="http://i.imgur.com/LkmcILl.jpg" />
    </div>
    <div class="grid-item">
      <img src="http://i.imgur.com/q9zO6tw.jpg" />
    </div>
    <div class="grid-item">
      <img src="https://unsplash.com/photos/Pn6iimgM-wo/download" />
    </div>
    <div class="grid-item ">
      <img src="http://i.imgur.com/r8p3Xgq.jpg" />

    </div>
    <div class="grid-item">
      <img src="http://i.imgur.com/hODreXI.jpg" />
    </div>
    <div class="grid-item">
      <img src="https://images.unsplash.com/photo-1436397543931-01c4a5162bdb?q=80&fm=jpg&s=29b3d57347ca107a06e5cfe262f24ef1" />
    </div>
    <div class="grid-item">
      <img src="http://i.imgur.com/UORFJ3w.jpg" />
    </div>
    <div class="grid-item ">
      <img src="http://i.imgur.com/aboaFoB.jpg" />
    </div>
    <div class="grid-item">
      <img src="http://i.imgur.com/LkmcILl.jpg" />
    </div>
    <div class="grid-item">
      <img src="http://i.imgur.com/q9zO6tw.jpg" />
    </div>
    <div class="grid-item">
      <img src="https://unsplash.com/photos/Pn6iimgM-wo/download" />
    </div>
    <div class="grid-item ">
      <img src="http://i.imgur.com/r8p3Xgq.jpg" />

    </div>
    <div class="grid-item">
      <img src="https://images.unsplash.com/photo-1436397543931-01c4a5162bdb?q=80&fm=jpg&s=29b3d57347ca107a06e5cfe262f24ef1" />
    </div>
    <div class="grid-item">
      <img src="http://i.imgur.com/UORFJ3w.jpg" />
    </div>
    <div class="grid-item ">
      <img src="http://i.imgur.com/aboaFoB.jpg" />
    </div>
    <div class="grid-item">
      <img src="http://i.imgur.com/LkmcILl.jpg" />
    </div>
    <div class="grid-item">
      <img src="http://i.imgur.com/q9zO6tw.jpg" />
    </div>
    <div class="grid-item">
      <img src="https://unsplash.com/photos/Pn6iimgM-wo/download" />
    </div>
    <div class="grid-item ">
      <img src="http://i.imgur.com/r8p3Xgq.jpg" />

    </div>


  </div>

</div>