<div class="overlay_info">

  <div class="container">
    <div class="row">
      <div class="overlay_close pull-right">X</div>
      <div class="text-center">Info</div>

    </div>
  </div>


</div>

<div class="overlay_share">

  <div class="container">
    <div class="row">
      <div class="overlay_close pull-right">X</div>
      <ul class="share_links">
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Instagram</li>
      </ul>
    </div>
  </div>


</div>


<div class="container">

  <%= render 'layouts/header'%>

  <div class="col-sm-5 fixed">
    <div class="p_tittle">
      <h1>Deniver</h1>
      <h4>Kenya</h4>
    </div>
    <div class="p_info row">
      <div class="col-sm-6">
      <p id="p_info">Project info</p>
      </div>

      <div class="col-sm-6">
        <p id="p_share" class="pull-right">Share</p>
      </div>

    </div>
  </div>

  <div class="col-sm-6 col-sm-offset-6 p_imgs">

    <div class="col-sm-12">
      <%= image_tag 'm1.jpg'%>
    </div>
    <div class="col-sm-12">
      <%= image_tag 'm3.jpg'%>
    </div>
    <div class="col-sm-12">
      <%= image_tag 'm4.jpg'%>
    </div>

  </div>

</div>