<div class="overlay_info">

  <div class="container">
    <div class="row">
      <div class="overlay_close pull-right">X</div>
      <div class="col-sm-8 col-sm-offset-2 text-center" style="margin-top: 15%; font-size: 35px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid aspernatur consequatur dolorem dolorum ea esse, est eum harum ipsa ipsam ipsum laudantium minima nobis, officiis perferendis quasi, vero voluptatem!</div>

    </div>
  </div>


</div>

<div class="overlay_share">

  <div class="container">
    <div class="row">
      <div class="overlay_close pull-right">X</div>
      <ul class="share_links">
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Instagram</li>
      </ul>
    </div>
  </div>


</div>


<div class="container">

  <%= render 'layouts/header'%>

  <div class="col-sm-5 fixed">
    <div class="p_tittle">
      <h1>Deniver</h1>
      <h4>Kenya</h4>
    </div>
    <div class="p_info row">
      <div class="col-sm-6">
      <p id="p_info">Project info</p>
      </div>

      <div class="col-sm-6">
        <p id="p_share" class="pull-right">Share</p>
      </div>

    </div>
  </div>

  <div class="col-sm-6 col-sm-offset-6 p_imgs">

    <div class="col-sm-12">
      <%= image_tag 'm1.jpg'%>
    </div>
    <div class="col-sm-12">
      <%= image_tag 'm3.jpg'%>
    </div>
    <div class="col-sm-12">
      <%= image_tag 'm4.jpg'%>
    </div>

  </div>

</div>