<div class="container">

  <%= render 'layouts/header'%>

  <div class="col-sm-10 col-sm-offset-1 blog">
    <div class="col-sm-8 col-sm-offset-2 ico"> <%= image_tag 'book.png'%> </div>

    <div class="col-sm-12 text-center">
      <h1>Reading for development</h1>
      <p>Posted on <span class="text-muted">21-02-2015 </span></p>
    </div>


    <div class="col-sm-12 text-center" style="margin-top: 3%">
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum.
    </div>

    <div class="col-sm-12 text-center img_holder" style="margin-top: 3%;"></div>


    <div class="col-sm-12 text-center" style="margin-top: 3%">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum convallis efficitur nulla sit amet vulputate. Nulla nulla ante, elementum a luctus at, mollis auctor ipsum. Integer eget dolor et justo faucibus varius eget non diam. Sed elementum luctus sem et consectetur. Aliquam blandit ultrices mattis. In hac habitasse platea dictumst. Nulla rhoncus leo quis nisi bibendum, ac volutpat orci cursus. Donec quis odio venenatis, porta erat nec, ultrices justo. Donec vitae velit nec dui bibendum vehicula at at nisi.

      Cras a molestie sapien. Curabitur sed sapien eros. Maecenas ac nunc ut ipsum feugiat ultricies. Sed vulputate massa a ex dapibus, sit amet aliquam elit iaculis. Morbi ut diam vel orci venenatis dapibus. Integer egestas auctor orci, ornare pretium leo rhoncus ac. Curabitur in suscipit justo. In laoreet rhoncus tellus ac vehicula. Suspendisse condimentum viverra ullamcorper. Proin non placerat erat. Nunc ultrices et neque pharetra elementum. Pellentesque condimentum luctus nibh at sagittis. Duis eu enim purus. Praesent blandit nisl leo, sit amet luctus lorem maximus a.


    </div>




    <div class="col-sm-12 text-center" style="margin-top: 3%">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum convallis efficitur nulla sit amet vulputate. Nulla nulla ante, elementum a luctus at, mollis auctor ipsum. Integer eget dolor et justo faucibus varius eget non diam. Sed elementum luctus sem et consectetur. Aliquam blandit ultrices mattis. In hac habitasse platea dictumst. Nulla rhoncus leo quis nisi bibendum, ac volutpat orci cursus. Donec quis odio venenatis, porta erat nec, ultrices justo. Donec vitae velit nec dui bibendum vehicula at at nisi.

      Cras a molestie sapien. Curabitur sed sapien eros. Maecenas ac nunc ut ipsum feugiat ultricies. Sed vulputate massa a ex dapibus, sit amet aliquam elit iaculis. Morbi ut diam vel orci venenatis dapibus. Integer egestas auctor orci, ornare pretium leo rhoncus ac. Curabitur in suscipit justo. In laoreet rhoncus tellus ac vehicula. Suspendisse condimentum viverra ullamcorper. Proin non placerat erat. Nunc ultrices et neque pharetra elementum. Pellentesque condimentum luctus nibh at sagittis. Duis eu enim purus. Praesent blandit nisl leo, sit amet luctus lorem maximus a.
      Donec cursus cursus mauris, in convallis lectus laoreet nec. Mauris vitae mauris elementum, fermentum ex vel, eleifend mi. Vivamus cursus ac dolor hendrerit condimentum. In hac habitasse platea dictumst. Sed ipsum augue, pellentesque ut luctus at, suscipit in turpis. Donec at dapibus nibh, vel viverra turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut mollis felis ac magna aliquet lobortis. Ut eget semper risus. Aliquam erat volutpat. Curabitur volutpat orci eu odio cursus placerat. Proin vestibulum lobortis orci, eu fringilla turpis pellentesque ut. Ut et elementum nulla, vitae sodales lectus.

      Aenean nisl sapien, imperdiet vel dignissim eget, convallis nec nulla. Morbi id metus auctor, tincidunt sapien in, sodales ligula. Donec eu mi tincidunt enim ornare scelerisque. Sed nec dolor sit amet erat sagittis ultrices vel in turpis. Vivamus finibus pellentesque tempus. Nullam erat velit, venenatis et tortor at, suscipit viverra turpis. In in luctus nibh. Nullam vel consectetur nisi, eu dapibus ipsum. Donec dictum arcu finibus, placerat velit in, efficitur leo. Curabitur luctus ac justo in mollis. Pellentesque interdum eu mi id aliquet. Nunc in sapien sit amet mauris pulvinar consequat. Integer sapien nulla, tempus vel nibh tristique, tristique bibendum sem. Curabitur lacus risus, ultrices quis vestibulum id, sodales in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

    </div>

    <div class="col-sm-12 text-center img_holder" style="margin-top: 3%;margin-bottom: 60px;"></div>




  </div>

</div>