
.top-animate {
  background: #2E2F30 !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mid-animate {
  opacity: 0;
}

.bottom-animate {
  background: #2E2F30 !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.top-menu {
  top: 5px;
  width: 20px;
  height: 2px;
  border-radius: 10px;
  background-color: #2E2F30;
}

.mid-menu {
  top: 10px;
  float:right;
  width: 15px;
  height: 2px;
  border-radius: 10px;
  background-color: #2E2F30;
}

.bottom-menu {
  top: 16px;
  width: 20px;
  height: 2px;
  border-radius: 10px;
  background-color: #2E2F30;
}

.menui {
  background: #2E2F30;
  transition: 0.6s ease;
  transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
  margin-top: 10px;
  position: absolute;
}

.icon {
  z-index: 999;
  position: relative;
  display: block;
  padding: 9px;
  height: 32px;
  width: 32px;
  margin: 0px;
float: right;
}

.mobilenav {
  font-family: inherit;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 5%;
  background: #EFEFEF;
}

.mobilenav li {
  list-style-type: none;
  text-align: center;
  padding: 15px;
}

.mobilenav li a {
  font-size: 250%;
  color: #2E2F30;
  text-decoration: none;
  font-weight: 300;
  width: 100%;
  transition: all 0.5s;
  &:hover{
    border-bottom: 1px solid black;
  }
}

.mobilenav li:first-child {
  margin-top: 60px;
}