@import "bootstrap-sprockets";
@import "bootstrap";
@import "home";
@import "portfolio";
@import "overlay_menu";
@import "video";
@import "event";
@import "blog";
@import "slick";
@import "slick-theme";

@font-face {
  font-family: 'bar';
  src: font-url('bellerose.ttf');
}

body{
  font-family: bar;
  background-color: ghostwhite;
}