@import "show";

.grid {

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 31.5%;
  margin: 10px;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;

  transition: all 0.2s ease-in-out;

  &:hover{

    -webkit-transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -webkit-filter: brightness(1.15);
    filter: brightness(1.1);
  }

}


.overlay {

}


