// Place all the styles related to the video controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "v_show";

.videos{

  .vid{
    margin-top: 5%;
    padding: 4px;
    .text{
      line-height: 2px;
      padding: 3px;
    }

    .caption{
      position: absolute;
      top: 0;
      width: 100%;
      padding-top: 28%;
      padding-left: 42%;
      padding-bottom: 20%;
      opacity: 1;

      &:hover {
        opacity: 1;
      }

    }

    .img{

      .video_cover{
        width: 100%;



      }


    }
  }
}