
  <div class="row" style="margin-bottom: 20px;">
    <div class="col-sm-12">
      <div class="col-sm-4"><%= image_tag 'mp_logo.png' %></div>
      <div class="col-sm-2 pull-right" ><%= render 'layouts/overlay_menu'%></div>
    </div>
  </div>
