
  <div id="z-nav" class="row" style="margin-bottom: 18px;">
    <div class="col-xs-12">
      <div class="col-xs-4"><a href="<%= root_path%>"> <%= image_tag 'mp_logo.png' %> </a></div>
      <div class="col-xs-2 pull-right" ><%= render 'layouts/overlay_menu'%></div>
    </div>
  </div>
