<div class="mobilenav">
  <li><a href="<%= event_path%>">Events</a></li>
  <li><a href="<%= blog_path%>">Blog</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="#">About</a></li>

</div>

<a href="javascript:void(0)" class="icon">
  <div class="hamburger">
    <div class="menui top-menu"></div>
    <div class="menui mid-menu"></div>
    <div class="menui bottom-menu"></div>
  </div>
</a>